*.exe
*.lib
*.exp


*.kdev4
kdev4/

*.cproj
*.dproj


.clang
*/Build
*/Project
*.sln
*.sdf
*.suo
*.vcproj
*.vcxproj

*.cproj
*.pc
*.userprefs

*.obj
*.idb
*.ilk
*.pdb
*.user
Makefile
*.make
*.mk
*.o
*.workspace*
*.tags
*.chw

.fuse_*
